<section class="aboutus sect-padding" id="aboutus">
        <div class="container cont-2">
            <div class="text-block-aboutus">
                <h2 class="headline-aboutus">About Us</h2>
                <ul class="ul-para-aboutus">
        
                    <li>
                        <p class="para-aboutus">Welcome to our premium watch collection, where luxury and style meet
                            functionality and precision. Our selection of
                            timepieces embodies the very best in Swiss craftsmanship and engineering, ensuring that you'll
                            always have a reliable
                            and stylish accessory on your wrist.
                        </p>
                    </li>
        
                    <li>
                        <p class="para-aboutus">At our premium watch collection, we believe that a watch is more than just a
                            timekeeping device – it's a statement piece
                            that reflects your personality and style. So why settle for anything less than the best?
                        </p>
                    </li>
                </ul>
                <a class="btn-aboutus" href="#catalog">View catalog</a>
            </div>
        
        
            <div class="picture-block-aboutus overlay">
                <picture class="picture-aboutus">
                    <source srcset="/img/aboutus-desk@1x.jpg 1x, /img/aboutus-desk@2x.jpg 2x" media="(min-width:1280px)">
        
                    <source srcset="/img/aboutus-tab@1x.jpg 1x, /img/aboutus-tab@2x.jpg 2x" media="(min-width:768px)">
        
                    <source srcset="/img/aboutus-mob@1x.jpg 1x, /img/aboutus-mob@2x.jpg 2x" media="(min-width:320px)">
        
                    <img class="img-aboutus" src="/img/aboutus-tab@1x.jpg" alt="watch">
                </picture>
            </div>
        
        </div>
</section>




