<section class="catalog" id="catalog">
  <div class="container container-catalog">
    <h2 class="catalog-title">Catalog</h2>
    <ul class="catalog-list">
      <li class="catalog-list-item">
        <picture>
          <source
            srcset="
              ./img/catalog1-desk@1x.png 1x,
              ./img/catalog1-desk@2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="./img/catalog1-tab@1x.png 1x, ./img/catalog1-tab@2x.png 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="./img/catalog1-mob@1x.png 1x, ./img/catalog1-mob@2x.png 2x"
            media="(min-width: 375px)"
          />
          <img
            src="./img/catalog1-desk@1x.png"
            alt="Garmin Fenix 7X"
            class="catalog-img"
          />
        </picture>
        <h3 class="catalog-name">Garmin Fenix 7X Pro Sapphire Solar</h3>
        <p class="catalog-cost">€500</p>
      </li>
      <li class="catalog-list-item">
        <picture>
          <source
            srcset="
              ./img/catalog2-desk@1x.png 1x,
              ./img/catalog2-desk@2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="./img/catalog2-tab@1x.png 1x, ./img/catalog2-tab@2x.png 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="./img/catalog2-mob@1x.png 1x, ./img/catalog2-mob@2x.png 2x"
            media="(min-width: 375px)"
          />
          <img
            src="./img/catalog2-desk@1x.png"
            alt="Garmin Marq"
            class="catalog-img"
          />
        </picture>
        <h3 class="catalog-name">Garmin Marq Athlete</h3>
        <p class="catalog-cost">€450</p>
      </li>
      <li class="catalog-list-item">
        <picture>
          <source
            srcset="
              ./img/catalog3-desk@1x.png 1x,
              ./img/catalog3-desk@2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="./img/catalog3-tab@1x.png 1x, ./img/catalog3-tab@2x.png 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="./img/catalog3-mob@1x.png 1x, ./img/catalog3-mob@2x.png 2x"
            media="(min-width: 375px)"
          />
          <img
            src="./img/catalog3-desk@1x.png"
            alt="Garmin Descent"
            class="catalog-img"
          />
        </picture>
        <h3 class="catalog-name">Garmin Descent MK1</h3>
        <p class="catalog-cost">€680</p>
      </li>
      <li class="catalog-list-item">
        <picture>
          <source
            srcset="
              ./img/catalog4-desk@1x.png 1x,
              ./img/catalog4-desk@2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="./img/catalog4-tab@1x.png 1x, ./img/catalog4-tab@2x.png 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="./img/catalog4-mob@1x.png 1x, ./img/catalog4-mob@2x.png 2x"
            media="(min-width: 375px)"
          />
          <img
            src="./img/catalog4-desk@1x.png"
            alt="Garmin D2"
            class="catalog-img"
          />
        </picture>
        <h3 class="catalog-name">Garmin D2 Delta PX</h3>
        <p class="catalog-cost">€380</p>
      </li>
      <li class="hidden-img catalog-list-item">
        <picture>
          <source
            srcset="
              ./img/catalog5-desk@1x.png 1x,
              ./img/catalog5-desk@2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="./img/catalog5-tab@1x.png 1x, ./img/catalog5-tab@2x.png 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="./img/catalog5-mob@1x.png 1x, ./img/catalog5-mob@2x.png 2x"
            media="(min-width: 375px)"
          />
          <img
            src="./img/catalog5-desk@1x.png"
            alt="Garmin Fenix 6"
            class="catalog-img"
          />
        </picture>
        <h3 class="catalog-name">Garmin Fenix 6 Pro Solar</h3>
        <p class="catalog-cost">€400</p>
      </li>
      <li class="hidden-img catalog-list-item">
        <picture>
          <source
            srcset="
              ./img/catalog6-desk@1x.png 1x,
              ./img/catalog6-desk@2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="./img/catalog6-tab@1x.png 1x, ./img/catalog6-tab@2x.png 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="./img/catalog6-mob@1x.png 1x, ./img/catalog6-mob@2x.png 2x"
            media="(min-width: 375px)"
          />
          <img
            src="./img/catalog6-desk@1x.png"
            alt="Tube Watch"
            class="catalog-img"
          />
        </picture>
        <h3 class="catalog-name">Tube Watch S42 Date Steel With Black Case</h3>
        <p class="catalog-cost">€395</p>
      </li>
    </ul>
    <div class="catalog-button-container">
      <button type="button" class="catalog-button-mob">Show more</button>
    </div>
  </div>
</section>
