<section class="reviews" id="reviews">
    <div class="container reviews-container">
        <h2 class="reviews-title">Reviews</h2>
        <ul class="reviews-list">
            <li class="reviews-item">
                <picture class="reviews-image">
                    <source srcset="/img/johnwax@1x.png 1x, /img/johnwax@2x.png 2x" media="(min-width:1280px)">

                    <source srcset="/img/johnwax@1x.png 1x, /img/johnwax@2x.png 2x" media="(min-width:768px)">

                    <source srcset="/img/johnwax@1x.png 1x, /img/johnwax@2x.png 2x" media="(min-width:320px)">

                    <img src="/img/johnwax@1x.png" width="56" height="56" alt="John Wax" />
                </picture>

                <div class="reviews-text-wrap">
                    <h3 class="reviews-subtitle">John Wax</h3>
                    <p class="reviews-text">
                        Buying a watch from was the best choice for me.
                        The design is perfectly combined with high quality materials.
                        The strap fits nicely on the hand, and the mechanism works flawlessly.
                    </p>
                </div>
            </li>

            <li class="reviews-item">
                <picture class="reviews-image">
                    <source srcset="/img/victoriaromashenko@1x.png 1x, /img/victoriaromashenko@2x.png 2x"
                        media="(min-width:1280px)">

                    <source srcset="/img/victoriaromashenko@1x.png 1x, /img/victoriaromashenko@2x.png 2x"
                        media="(min-width:768px)">

                    <source srcset="/img/victoriaromashenko@1x.png 1x, /img/victoriaromashenko@2x.png 2x"
                        media="(min-width:320px)">

                    <img src="/img/victoriaromashenko@1x.png" width="56" height="56" alt="Victoria Romashenko" />
                </picture>

                <div class="reviews-text-wrap">
                    <h3 class="reviews-subtitle">Victoria Romashenko</h3>
                    <p class="reviews-text">
                        Can't take my eyes off my watch from.
                        Every time I put it on, it is admired by those around me.
                        The build quality and attention to detail make it a real gem among my accessories.
                    </p>
                </div>
            </li>

            <li class="reviews-item">
                <picture class="reviews-image">

                    <source srcset="/img/anastasiatrachuk@1x.png 1x, /img/anastasiatrachuk@2x.png 2x"
                        media="(min-width:1280px)">

                    <source srcset="/img/anastasiatrachuk@1x.png 1x, /img/anastasiatrachuk@2x.png 2x"
                        media="(min-width:768px)">

                    <source srcset="/img/anastasiatrachuk@1x.png 1x, /img/anastasiatrachuk@2x.png 2x"
                        media="(min-width:320px)">
                    <img src="/img/anastasiatrachuk@1x.png" width="56" height="56" alt="Anastasia Trachuk" />
                </picture>

                <div class="reviews-text-wrap">
                    <h3 class="reviews-subtitle">Anastasia Trachuk</h3>
                    <p class="reviews-text">
                        My watch from is a real masterpiece.
                        Every detail impresses with the high quality of execution.
                        Special features like [specify features] make it an indispensable companion in my daily life.
                    </p>
                </div>
            </li>

        </ul>

    </div>
</section>