<section class="sale" id="sale">

    <div class="container container-sale">

        <h2 class="sale-title">Sale</h2>
        
        <div class="sale-container">

            <div class="sale-img-watch-box">

                <ul class="sale-list">
        
                    <li class="sale-list-item">
                        <picture class="sale-list-img">
                            <source media="(min-width: 768px)" srcset="./img/sale1-desk@1x.png 1x,
                                    ./img/sale1-desk@2x.png 2x">
                            <source media="(max-width: 767px)" srcset="./img/sale1-mob@1x.png 1x,
                                    ./img/sale1-mob@2x.png 2x">
                            <img src="./img/sale1-desk@1x.png" alt="Watch Front View">
                        </picture>
                    </li>
        
                    <li class="sale-list-item">
                        <picture>
                            <source media="(min-width: 768px)" srcset="./img/sale2-desk@1x.png 1x,
                                    ./img/sale2-desk@2x.png 2x">
                            <source media="(max-width: 767px)" srcset="./img/sale2-mob@1x.png 1x,
                                    ./img/sale2-mob@2x.png 2x">
                            <img src="./img/sale2-desk@1x.png" alt="Watch Details">
                        </picture>
                    </li>
        
                    <li class="sale-list-item">
                        <picture>
                            <source media="(min-width: 768px)" srcset="./img/sale3-desk@1x.png 1x,
                                    ./img/sale3-desk@2x.png 2x">
                            <source media="(max-width: 767px)" srcset="./img/sale3-mob@1x.png 1x,
                                    ./img/sale3-mob@2x.png 2x">
                            <img src="./img/sale3-desk@1x.png" alt="Watch Side View">
                        </picture>
                    </li>
        
                    <li class="sale-list-item">
                        <picture>
                            <source media="(min-width: 768px)" srcset="./img/sale4-desk@1x.png 1x,
                                    ./img/sale4-desk@2x.png 2x">
                            <source media="(max-width: 767px)" srcset="./img/sale4-mob@1x.png 1x,
                                    ./img/sale4-mob@2x.png 2x">
                            <img src="./img/sale4-desk@1x.png" alt="Watch Back View">
                        </picture>
                    </li>
        
                </ul>

            </div>
        
            <div class="sale-watch-img">
        
                <picture>
                    <source media="(min-width: 768px)" srcset="./img/sale5-desk@1x.png 1x,
                                ./img/sale5-desk@2x.png 2x">
                    <source media="(max-width: 767px)" srcset="./img/sale5-mob@1x.png 1x,
                                ./img/sale5-mob@2x.png 2x">
                    <img src="../img/sale5-desk@1x.png" alt="Main watch view">
                </picture>
        
            </div>
        
        
            <div class="sale-description-box">
        
                <h3 class="sale-description-title">
                    MARQ&#174; Commander &#10088;Gen 2&#10089; - Carbon Edition
                </h3>
        
                <p class="sale-prod-teg">Product tag: 706587</p>
        
                <ul class="sale-price-box">
                    <li class="sale-price-box-main">
                        <p class="sale-price">€1500</p>
                    </li>
                    <li class="sale-original-price">€3000</li>
                </ul>
        
        
        
                <p class="sale-decr-text">
                    The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch for adventurers that takes materials
                    and features
                    to the next level. The body of the watch is made of very durable Fused Carbon Fiber material and has a
                    precise AMOLED
                    touch screen. The sensitive touch screen is complemented by buttons that can be used in any conditions.
                </p>
        
                <ul class="sale-selection-list">
        
                    <li class="sale-selection-item">Fused carbon fiber</li>
                    <li class="sale-selection-item">Grade-5 Titanium</li>
                    <li class="sale-selection-item">Athlete</li>
                    <li class="sale-selection-item">Golfer</li>
                    <li class="sale-selection-item">Commander</li>
                    <li class="sale-selection-item">Adventurer</li>
        
                </ul>
        
            </div>

        </div>

    </div>

</section>