body {
    font-family: 'Gilroy', sans-serif;
    color: black;
    background-color: #fbfbfb;
}

.container {
    max-width: 320px;
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
}

@media screen and (min-width: 375px) {
    .container {
        max-width: 375px;
        padding: 0 20px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding: 0 32px;
    }
}

@media screen and (min-width: 1280px) {
    .container {
        max-width: 1280px;
        padding: 0 65px;
    }
}