/* @media screen and (min-width: 375px){
} */
.hero-title { 
    padding-top: 60px;
    font-family: Gilroy;
    font-size: 40px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: -0.02em;
    text-align: left;
    margin-bottom: 20px;
}
.hero-title-colored {
    color: #3350E9;

}
.hero-box {
    margin-bottom: 28px;
}
.hero-content-wrap {
    margin-bottom: 28px;
}
.hero-text {
    font-family: Gilroy;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: rgba(12, 12, 12, 0.7);
}  
.hero-wrap {
    display: flex;
    position: relative;
    max-width: 335px;
    height: 44px;
    align-items: flex-end;
    justify-content: flex-end;
}

.hero-icon {
    border-radius: 100%;
    stroke-width: 2px;
    background-color: #F3F3F3;
    border: 2px solid #FBFBFB;
    position: absolute;
}

.hero-icon:nth-child(1) {
    left: 0;
}

.hero-icon:nth-child(2) {
    left: 32px;
}

.hero-icon:nth-child(3) {
    left: 64px;
}

.hero-link {
    font-family: Gilroy;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.02em;
    text-align: left;
    text-decoration: underline;
}
.hero-link:hover {
    color:#3350E9;
}

.hero-image {
    border-radius: 30px;
    margin-bottom: 60px;
    background-color: rgba(12, 12, 12, 0.2);
}

@media screen and (min-width: 768px) {
    .hero-container {
        min-width: 768px;
        padding: 0 32px;   
    }
    
    .hero-box {
        display: flex;
        gap: 11px;
        margin-bottom: 40px;
    }
    .hero-content-wrap {
        margin: 0;
    }
    .hero-title {
        padding-top: 80px;
        line-height: 60px;
        font-size: 70px;
        max-width: 557px;
    }
    .hero-text {
        line-height: 1.2;
        font-size: 16px;
        max-width: 480px;
    }
    .hero-wrap {
        flex-direction: column;
        width: 136px;
        height: 260px;
        align-self: flex-end;
        position: relative;
    }
    .hero-icon {
        width: 56px;
        height: 56px;
        position: absolute;
    }
    .hero-icon:nth-child(1) {
        top: 0;
        left: 0;
    }

    .hero-icon:nth-child(2) {
        top: 0;
        left: 40px;
    }
    .hero-icon:nth-child(3) {
        top: 0;
        left: 80px;
    }
    
    .hero-link {
        font-size: 20px;
        line-height: 20px;
        display: block;
    }
    .hero-image {
        border-radius: 50px;
    }
}
    
@media screen and (min-width: 1280px) {
    .hero-container {
        min-width: 1280px;
        padding: 0 65px;   
    }
    .hero-box {
        gap: 407px;
    }
    
    .hero-title {
    line-height: 63px;
    font-size: 72px;
    max-width: 597px;
    }
    .hero-wrap {
        width: 146px;
        height: 269px;
    }
}
