.reviews-container {
    margin-bottom: 60px;
}

.reviews-title {
    font-family: "Gilroy", sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 0.92;
    letter-spacing: -0.02em;
    color: #0c0c0c;
    margin-bottom: 24px;
}

.reviews-list {
    flex-direction: row;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.reviews-item {
    background-color: #f3f3f3;
    text-align: center;
    display: block;
    padding: 32px;
    border-radius: 30px;
}

.reviews-image {
    border-radius: 100%;
    outline: 2px solid #FBFBFB;
    max-width: 100%;
    display: inline-block;
    position: relative;
    justify-content: center;
    margin-bottom: 24px;
}

.reviews-subtitle {
    font-family: "Gilroy", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.1;
    letter-spacing: -0.02em;
    text-align: center;
    color: #0c0c0c;
    padding: 0 8px 8px 8px;
}

.reviews-text {
    font-family: "Gilroy", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    text-align: center;
    color: rgba(12, 12, 12, 0.4);
}

.reviews-item:nth-child(2) {
    display: none;
}

.reviews-item:nth-child(3) {
    display: none;
}

@media screen and (min-width: 375px) {
    .reviews-container {
        margin-bottom: 60px;
    }

    .reviews-title {
        font-size: 32px;
        line-height: 1;
        margin-bottom: 24px;
    }

    .reviews-subtitle {
        font-size: 16px;
        line-height: 1.25;
    }

    .reviews-text {
        font-size: 14px;
        line-height: 1.28;
        color: rgba(12, 12, 12, 0.4);
    }
}

@media screen and (min-width: 768px) {
    .reviews-container {
        margin-bottom: 80px;
    }

    .reviews-container {
    }

    .reviews-item {
        min-width: 344px;
        max-height: 272px;
        padding: 32px 36px;
    }

    .reviews-item:nth-child(1) {
        display: block;
    }

    .reviews-item:nth-child(2) {
        display: block;
    }

    .reviews-text {
        font-size: 16px;
        line-height: 1.25;
    }

    .reviews-subtitle {
        padding: 0 0 8px 0;
    }
}

@media screen and (min-width: 1280px) {
    .reviews-title {
        font-size: 48px;
        font-weight: 600;
        line-height: 0.92;
        letter-spacing: -0.02em;
        color: #0c0c0c;
    }

    .reviews-item {
        min-width: 370px;
        max-height: 272px;
    }

    .reviews-subtitle {
        font-size: 18px;
        font-weight: 500;
        line-height: 1.1;
        letter-spacing: -0.02em;
        color: #0c0c0c;
    }

    .reviews-text {
        font-size: 16px;
        line-height: 1.25;
    }

    .reviews-list {
        flex-direction: row;
        gap: 20px;
    }

    .reviews-item:nth-child(1) {
        display: block;
    }

    .reviews-item:nth-child(2) {
        display: block;
    }

    .reviews-item:nth-child(3) {
        display: block;
    }
}